<section class="container">
  <div class="header-container text-center">
    <div>
      <header>
        <h2>Artworks</h2>
      </header>
      <p>Buying art is buying time of the artist's life.</p>
    </div>
  </div>
  <div class="filters">
    <div>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input class="i-search" type="text" pInputText [(ngModel)]="search" (keydown)="resetSearch($event);"
          (input)="searchHttp();" placeholder="Search" required />
        <i role="button" tabindex="0" *ngIf="search.length>0" class="pi pi-times" (keydown)="resetSearch($event);"
          (click)="resetSearch($event);"></i>
      </span>
    </div>
  </div>
  <div class="flex">
    <a class="card" *ngFor="let painting of paintings; let last = last; trackBy: trackByFn"
      [routerLink]="['/painting/view/', painting._id]">
      <img appImgBroken [src]="painting.image0url" [alt]="painting.title" />
      <div class="card-body">
        <div>
          <h3>{{painting.title}}</h3>
          <p>{{painting.subtitle}}</p>
        </div>
      </div>
      <div *ngIf="last && !search.length" #theLastList></div>
    </a>
  </div>
</section>

<div class="spinner" *ngIf="loader">
  <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
    animationDuration=".5s"></p-progressSpinner>
</div>

<p-toast *ngIf="isBrowser" [breakpoints]="{'768px': {width: '100%', right: '0', left: '0'}}"></p-toast>