.grid {
  .card {
    a {
      width: 100%;
      height: 420px;
      position: relative;

      &:hover {
        .centered {
          visibility: visible;
          opacity: 1;
          background: rgba(0, 0, 0, .282);
        }
      }

      img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 70%;
        width: 70%;
        color: #fff;
        visibility: hidden;
        opacity: 0;
        transition: opacity .2s, visibility .2s;
        font-size: 12px;
        line-height: 20px;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-spacing: 0.22rem;
        font-size: 0.8rem;
        padding: 0.5rem;
        margin: 0;
      }
    }
  }
}