<section class="container">
  <div class="header-container text-center">
    <div>
      <header>
        <h2>Terms of service</h2>
      </header>
    </div>
  </div>
  <div class="flex">
    <p-accordion class="custom-accordion" [activeIndex]="i"
      *ngFor="let termsofservice of termsofservices; let i = index;">
      <p-accordionTab [header]="termsofservice.title">
        <p *ngIf="termsofservice.paragraph">
          {{ termsofservice.paragraph }}
        </p>
        <p *ngIf="termsofservice.paragraph2">
          {{ termsofservice.paragraph2 }}
        </p>
        <p *ngIf="termsofservice.paragraph3">
          {{ termsofservice.paragraph3 }}
        </p>
        <p *ngIf="termsofservice.paragraph4">
          {{ termsofservice.paragraph4 }}
        </p>
        <p *ngIf="termsofservice.paragraph5">
          {{ termsofservice.paragraph5 }}
        </p>
        <p *ngIf="termsofservice.paragraph6">
          {{ termsofservice.paragraph6 }}
        </p>
      </p-accordionTab>
    </p-accordion>
  </div>
</section>