<section class="container">
  <div class="header-container text-center">
    <div>
      <header>
        <h2>Refund policy</h2>
      </header>
    </div>
  </div>
  <div class="flex">
    <p-accordion class="custom-accordion" [activeIndex]="0">
      <p-accordionTab [header]="title">
        <p>
          To return your product, please email us at
          <a href="mailto:ignaciobirello@hotmail.com">
            ignaciobirello@hotmail.com
          </a>
          <br />
          You will be responsible
          for paying for your own shipping costs for returning your item. Shipping costs are non-refundable. If you
          receive a refund, the cost of return shipping will be deducted from your refund. You will receive a full
          refund excluding shipping costs.
        </p>
      </p-accordionTab>
    </p-accordion>
  </div>
</section>