<footer class="footer">
  <div class="footer-container">
    <ul class="social-icons">
      <li>
        <a title="facebook" href="https://www.facebook.com/BirelloGallery" target="_blank">
          <i class="pi pi-facebook"></i>
        </a>
      </li>
      <li>
        <a title="instagram" href="https://www.instagram.com/birellogallery/" target="_blank">
          <i class="pi pi-instagram"></i>
        </a>
      </li>
      <li>
        <a title="whatsapp" href="https://wa.me/5491164816622" target="_blank">
          <i class="pi pi-whatsapp"></i>
        </a>
      </li>
    </ul>
    <ul class="menu">
      <li>
        <a routerLink="/refundpolicy">Refund policy</a>
      </li>
      <li>
        <a routerLink="/privacypolicy">Privacy policy</a>
      </li>
      <li>
        <a routerLink="/termsofservice">Terms of service</a>
      </li>
    </ul>
  </div>
  <p class="copyright">
    © {{date}} Copyright:
    <a href="/">Birello Gallery</a>
    - Buenos Aires, Argentina.
  </p>
</footer>